/* ===== body =======*/

.body {
  font-family: 'Roboto';
}

/* ===== header =======*/

.header {
  background-color: white;
}

.header .logo {
  font-family: 'Raleway:700';
  font-size: 26px;
  font-weight: 700;
  color: var(--web);
}

.header .logo > span {
  font-family: 'Oleo+Script:400';
  font-size: 26px;
  font-weight: 700;
  color: black;
}

.header .nav a {
  font-size: 14px;
  font-weight: 500;
  color: var(--menuNav);
}

.header .contacts a {
  font-size: 14px;
  font-weight: 500;
  color: var(--email-tel);
}

.header .nav .current {
  color: var(--email-hover);
}

.header .nav a:hover,
.header .contacts .email:hover {
  color: var(--email-hover);
}

/* =======  MAIN  ========*/

/* =======  filters ======*/

.section .filters button {
  border-radius: 4px;
  background-color: var(--back-gray);
  font-weight: 500;
  font-size: 16px;
  color: var(--menuNav);
}

.section .filters button:hover {
  background-color: var(--email-hover);
  color: white;
}

/* =======  images ========*/

.section .images h3 {
  font-weight: 700;
  font-size: 18px;
  color: var(--menuNav);
}

.section .images p {
  font-weight: 400;
  font-size: 16px;
  color: var(--email-tel);
}

/* =======  footer ========*/

.footer {
  background-color: var(--back-footer);
}

.footer .address {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: white;
}

.footer .logo {
  font-family: 'Raleway:700';
  font-weight: 700;
  font-size: 26px;
  color: var(--web);
}

.footer .logo > span {
  font-family: 'Oleo+Script:400';
  font-weight: 700;
  font-size: 26px;
  color: white;
}

.footer .contacts > li > a {
  color: var(--email-tel-footer);
}
