/* ===== body =======*/

.body {
  font-family: 'Roboto';
}

/* ===== header =======*/

.header {
  background-color: white;
}

.header .logo {
  font-family: 'Raleway:700';
  font-size: 26px;
  font-weight: 700;
  color: var(--web);
}

.header .logo > span {
  font-family: 'Oleo+Script:400';
  font-size: 26px;
  font-weight: 700;
  color: black;
}

.header .nav a {
  font-size: 14px;
  font-weight: 500;
  color: var(--menuNav);
}

.header .contacts a {
  font-size: 14px;
  font-weight: 500;
  color: var(--email-tel);
}

.header .nav .current {
  color: var(--email-hover);
}

.header .nav a:hover,
.header .contacts .email:hover {
  color: var(--email-hover);
}

/* =======  MAIN  ========*/

/* ======= Section 1 =====*/

.section-1 {
  background-color: var(--back-footer);
}

.section-1 h1 {
  font-size: 44px;
  font-weight: 900;
  color: white;
}

.section-1 button {
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background: var(--button-color);
}

/* ======= Section 2.1 ===*/

.section-2-1 {
  background-color: white;
}

.section-2-1 h3 {
  font-size: 14px;
  font-weight: 700;
  color: var(--menuNav);
}

.section-2-1 p {
  font-size: 14px;
  font-weight: 400;
  color: var(--email-tel);
}

/* ======= Section 2.2 ===*/

.section-2-2 {
  background-color: white;
}

.section-2-2 h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--menuNav);
}

/* ======= Section 3 ===*/

.section-3 {
  background-color: var(--back-gray);
}

.section-3 h2 {
  font-weight: 700;
  font-size: 36px;
  color: var(--menuNav);
}

.section-3 h3 {
  font-size: 16px;
  font-weight: 500;
  color: var(--menuNav);
}

.section-3 p {
  font-size: 16px;
  font-weight: 400;
  color: var(--email-tel);
}

/* =======  footer ========*/

.footer {
  background-color: var(--back-footer);
}

.footer .address {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: white;
}

.footer .logo {
  font-family: 'Raleway:700';
  font-weight: 700;
  font-size: 26px;
  color: var(--web);
}

.footer .logo > span {
  font-family: 'Oleo+Script:400';
  font-weight: 700;
  font-size: 26px;
  color: white;
}

.footer .contacts > li > a {
  color: var(--email-tel-footer);
}
