/* ===== header =======*/

.header {
  background-color: white;
  font-family: 'Roboto';
}

.header .logo {
  font-family: 'Raleway:700';
  color: var(--web);
}

.header .logo > span {
  font-family: 'Oleo+Script:400';
  color: black;
}

.header .nav li {
  font-weight: 500;
  color: var(--menuNav);
}

.header .contacts a {
  font-weight: 500;
  color: var(--email-tel);
}
.current {
  color: var(--email-hover);
}

.header .nav .portfolio:hover,
.header .contacts .studia-email:hover,
.header .contacts .studia-email:focus {
  color: var(--email-hover);
}

/* =======  MAIN  ========*/

.main {
  font-family: 'Roboto';
}

/* ======= Section 1 =====*/

.section-1 {
  background-color: var(--backSection-1);
}

.section-1-h1 {
  font-weight: 900;
  color: white;
}

.section-1 .button {
  border: none;
  border-radius: 4px;
  font-weight: 700;
  color: white;
  background: var(--hover-email);
}

/* ======= Section 2.1 ===*/

.section-2-1 {
  background-color: white;
}

.section-2-1 h3 {
  font-weight: 700;
  color: var(--menuNav);
}

.section-2-1 p {
  font-weight: 400;
  color: var(--email-tel);
}

/* ======= Section 2.2 ===*/

.section-2-2 {
  background-color: white;
}

.section-2-2 h2 {
  font-weight: 700;
  color: var(--menuNav);
}

/* ======= Section 3 ===*/

.section-3 {
  background-color: var(--back-gray);
}

.section-3 h3 {
  font-weight: 500;
  color: var(--menuNav);
}

.section-3 p {
  font-weight: 400;
  color: var(--email-tel);
}

/* =======  footer ========*/

.footer {
  background-color: var(--back-footer);
}

.footer .address {
  font-family: 'Roboto:400';
  font-style: normal;
  color: white;
}

.footer .logo {
  font-family: 'Raleway:700';
  color: var(--web);
}

.footer .logo > span {
  font-family: 'Oleo+Script:400';
  color: white;
}

.footer .contacts > li > a {
  font-style: normal;
  color: var(--email-tel-footer);
}
